.exercicio09 {
    display: flex;
    flex-direction: column;
  
    .navegacao09 {
      display: flex;
      flex-direction: column;
      padding: 2.5%;
      gap: 40px;


      .termometro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img{
            width: 30%;
            height: 30%;
        }
      }
  
      .funcionalidade09 {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        padding-top: 3%;
        align-self: center;
        justify-content: center;
        gap: 1.6em;
        border-radius: 8px;
        width: 30%;
        height: 12em;
        padding-left: 3%;

        box-shadow:
            rgba(0, 0, 0, 0.19) 0px 10px 20px,
            rgba(0, 0, 0, 0.23) 0px 6px 6px;

        
  
        h3 {
          background-color: #fff;
        }
  
        input {
          background-color: #fff;
          border-radius: 8px;
          min-height: 2em;
          width: 84%;
  
          font-size: 1.2em;
          text-align: center;
          border-color: #a5a5a5;
        }
  
        .executar09 {
          display: flex;
          flex-direction: row-reverse;
          padding-top: 2%;
          background-color: #fff;
          padding-right: 16%;
  
          button {
            background-color: #6278f7;
            color: #fff;
            border-radius: 8px;
            width: 16em;
            height: 3.1em;
            font-weight: 400%;
            border-color: #6278f7;
          }
  
  
        }
      }
  
      .resultado09 {
        display: flex;
        flex-direction: row;
        justify-content: center;
  
  
      }
    }
  
  
  
  }