a {
    text-decoration: none;
    color: #000000;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff !important;
    justify-content: center !important;
    align-items: center !important;

    
    .opcao {
        flex: 1; /* add this line to make all .opcao elements take up an equal amount of space */
        display: flex;
        flex-direction: column;
        background-color: #ffffff !important;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
        border-radius: 28px;
        gap: 7%;
        text-align: center;
        width: 13.9em !important;
        height: 18em !important ;


        h4 {
            background-color: #ffffff !important;
            font-size: 1.0em;
            
        }
        
        span {
            background-color: #ffffff !important;
            font-size: 1em;

        }
    }

}