.exercicio {
  display: flex;
  flex-direction: column;

  .navegacao{
    display: flex;
    flex-direction: column;
    padding: 2.5%;
    gap: 40px;

    .funcionalidade{
      background-color: #fff;
      display: flex;
      flex-direction: column;
      padding-top: 3%;
      margin: 0 auto;

      justify-content: center;
      gap: 1.3em;
      border-radius: 8px;
      width: 30%;
      height: 18em;
      padding-left: 3%;

      h3 {
        background-color: #fff;
      }

      input {
        background-color: #fff;
        border-radius: 8px;
        height: 4em;
        width: 84%;

        font-size: 1.2em;
        text-align: center;
        border-color: #a5a5a5;
      }

      .executar {
        display: flex;
        flex-direction: row-reverse;
        padding-top: 2%;
        background-color: #fff;
        padding-right: 16%;

        button {
          background-color: #6278f7;
          color: #fff;
          border-radius: 8px;
          width: 16em;
          height: 3.1em;
          font-weight: 400%;
          border-color: #6278f7;
        }
        
      }
    }
  }



}